version: "3.9"

services:
  frontend:
    build: ../practices/practices
    ports:
      - "3000:5173"
    depends_on: 
      - backend
    environment:
      - VITE_API_BASE_URL=http://localhost:5002
    networks:
      - app-network

  backend:
    build: ./server
    ports:
      - "5002:5002"
    environment: 
      - NODE_ENV=development
      - PORT=5002
      - CORS_ORIGIN=http://localhost:3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge