@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  min-width: 320px;
}
